@page
@model Media_Bazaar_Website.Pages.LogPages.EditPasswordFormModel
@{
    Layout = "_Layout";
}

<head>
    <link rel='stylesheet' href='~/css/formstyle.css'>
    <title>Edit profile</title>
</head>

<div class="center">
<form method="post">
    <h1 class="title">Change Password</h1>

    <span asp-validation-for="EnterOldPassword" style="color: orangered; font-size: 12px;">@TempData["Incorrect Password"]</span><input type="password" asp-for="EnterOldPassword" value="" class="input-text" placeholder="Enter Old Password" />
    <span asp-validation-for="NewPassword" style="color: orangered; font-size: 12px;"></span><input type="password" asp-for="NewPassword" value="" class="input-text" placeholder="Enter New Passowrd" />
    <span asp-validation-for="RepeatNewPassword" style="color: orangered; font-size: 12px;"></span><input type="password" asp-for="RepeatNewPassword" value="" class="input-text" placeholder="Repeat New Password" />

    <input type="submit" value="Change" class="input-submit" />
    <a class="login_cancel_link" asp-page="/LogPages/EditProfileForm">Cancel</a>
</form>
</div>