* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/WhiteWallpaper.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Center content*/
.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    /*Color*/
    width: 420px;
    background-color: whitesmoke;
    /*Box Shadow*/
    box-shadow: 5px 5px 5px dimgrey;
    max-height: 800px;
    overflow: auto;
    border-radius: 15px 0 0 0;
}

/*Center Title*/
.title {
    padding: 0px 20px 20px 0px;
    font-size: 40px;
    color: #4b79d6;
}

/*Text input span accross the box*/
.input-text{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 30px;
}

/*Submit button center*/
.input-submit {
    background-color: #4b79d6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.input-submit:hover{
    background-color: dodgerblue;
}

.login_cancel_link{
    position: absolute;
    right: 40px;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: darkslateblue;
}

.login_cancel_link:hover
{
    color: orangered;
}

.change_password_link_in_edit_profile {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: darkslateblue;
}

.change_password_link_in_edit_profile:hover{
    color: orangered;
}

.edit_profile_label {
    font-weight: 800;
    color: #4b79d6;
    font-size: 20px;
}

.info_data {
    width: 340px;
    margin-bottom: 20px;
}

.data{
    margin: 5px;
}

.view_profile_label {
    font-weight: 800;
    color: #4b79d6;
    font-size: 20px;
}

.text_information {
    font-weight: 100;
    color: dimgrey;
    width: 100%;
}

.input-text-view-profile {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    padding: 10px 10px 0px 0px;
}